body, ul, li, h1, h2, h3, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

nav{
    background-color: #f4f4f4;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}

nav li{
    width: 15%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

nav li a{
    text-decoration: none;
    color: #383838;
    margin: 10px;
}


.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}

.banner .welcome{
    position: absolute;
    top: 50%;
    left: 14%;
    /* transform: translate(-50%); */
    color: white;
    /* text-align:center; */
    width: 97%;
}

.banner h1{
    font-size: 50px;
} 

main{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    color: #383838;
    line-height: 1.5em;
}

main div{
    margin-top: 38px;
}

main ul{
    margin: 15px;
}

main h2{
    font-size: 24px;
    color: #2972b6
}

.recent-announcements li{
    margin-bottom: 12px;
}

footer{
    background: #2972b6;
    color: white;
    padding: 6px;
    text-align: center;
}